<div id="extPorterBreadcrumbs">
	<div class="extPorterBreadcrumb <f:if condition='{activ} == 0'>extPorterBreadcrumbActiv</f:if>">General data</div>
	<div class="extPorterBreadcrumbArrow"><f:Be.buttons.icon icon="actions-move-right"></f:Be.buttons.icon></div>
	<div class="extPorterBreadcrumb <f:if condition='{activ} == 1'>extPorterBreadcrumbActiv</f:if>">Localization</div>
	<div class="extPorterBreadcrumbArrow"><f:Be.buttons.icon icon="actions-move-right"></f:Be.buttons.icon></div>
	<div class="extPorterBreadcrumb <f:if condition='{activ} == 2'>extPorterBreadcrumbActiv</f:if>">Database and Objects</div>
	<div class="extPorterBreadcrumbArrow"><f:Be.buttons.icon icon="actions-move-right"></f:Be.buttons.icon></div>
	<div class="extPorterBreadcrumb <f:if condition='{activ} == 3'>extPorterBreadcrumbActiv</f:if>">Frontend Plugins</div>
	<div class="extPorterBreadcrumbArrow"><f:Be.buttons.icon icon="actions-move-right"></f:Be.buttons.icon></div>
	<div class="extPorterBreadcrumb <f:if condition='{activ} == 4'>extPorterBreadcrumbActiv</f:if>">Other</div>
	<div class="extPorterBreadcrumbArrow"><f:Be.buttons.icon icon="actions-move-right"></f:Be.buttons.icon></div>
	<div style="clear:both"></div>
</div>