{namespace vh=Simon\ExtensionPorter\ViewHelpers}
<f:layout name="Default" />

<f:section name="header">
</f:section>
<f:section name="iconButtons">
</f:section>
<f:section name="breadcrumbs">
	<f:render partial="PortingProcess/Breadcrumbs" arguments="{activ: '2'}" />
</f:section>
<f:section name="content">
<h1>Porting of Extension &quot;{portingProcess.oldExtension.title}&quot;</h1>
<h2>Database and MVC creation</h2>
<div class="extPorterHeaderInstruction">
The following definitions of Tables were found in your old Extension. Please choose the ones you want to create domain objects from.
</div>
<div class="contentAndInfoSeperator" />Info</div>
<div id="extPorterInfoSection">
<h2>Dir Viewer</h2>
	<f:render partial="DirViewer/Wrapper" arguments="{heading: 'New Extension folder', folderName: portingProcess.newExtension.extFolder, extFolderTreeArray: newExtFolderTreeArray}" />

	<f:render partial="DirViewer/Wrapper" arguments="{heading: 'Old Extension folder', folderName: portingProcess.oldExtension.extFolder, extFolderTreeArray: oldExtFolderTreeArray}" />
</div>
<f:render partial="Progresslog/Index" arguments="{progresslogs: portingProcess.progresslogs}" />
<div id="extPorterBack">
	<f:link.action action="index" ><f:Be.buttons.icon icon="actions-view-go-back" title="Back"></f:Be.buttons.icon>Back to Index</f:link.action>
</div>
</f:section>